*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: rgb(32, 16, 107);
    width: 100vw;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;


}

main{
    display: flex;
    flex-direction: column;
}

.title{
    color: #ffcc00;
    margin: 10vh auto;
    font-size: 1.8rem;
}

.container{
    width: 90vw;
    height: 100px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.key{
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgb(197, 216, 228);
    border:5px solid indigo;
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    transition: .4s;
}


.key:hover{
    background-color: rgba(186, 85, 211, 0.65);
    border:5px solid rgb(255, 255, 255);
}


